# Ignore node_modules
node_modules

# Ignore logs
logs
*.log

# Ignore local environment files
# .env

# Ignore build output
# dist
build

# Ignore temporary files
tmp
*.tmp

# Ignore git files
.git
.gitignore

# Ignore other unnecessary files
npm-debug.log
yarn-error.log
trivia-care-portal-main.tar